<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<<<<<<< HEAD
<h3> Share Contact Info: </h3>



<p><%= label_tag :full_name %> </p>
<%= f.text_field :full_name%></p>
<% if @user.errors[:full_name] %>
	<% @user.errors[:full_name].each do |message| %>	
		<h5> <%= message %> </h5>
	<% end %>
<% end %> 

<p><%= label_tag :github_html_url %>
<%= f.text_field :github_html_url %></p>


<p><%= label_tag :linkedin_url %>
<%= f.text_field :linkedin_url %></p>


<p><%= label_tag :facebook_url %>
<%= f.text_field :facebook_url %></p>
 

<p><%= label_tag :twitter_url %>
<%= f.text_field :twitter_url %></p>
=======
<h2>Your Contact Info: </h2>
<b>full name:</b> <%= (@user.full_name || "(nothing entered)  ") %>
<%= label_tag(:full_name, "| update full name") %>
<%= f.text_field :full_name%>
<br/>
<b>current email:</b> <%=(@user.email || "(nothing entered) ") %>
<%= label_tag(:email, "| update email") %>
<%= f.text_field :email%>
<br/>
<b>current github_url: github.</b> <%=(@user.github_html_url || "(nothing entered) | ") %>
<%= label_tag(:github_url, "| update github_url") %>
<b> www.linkedin.com/ </b>
<%= f.text_field :github_html_url%>
<br/>
<b>current linkedin_url:</b> <%=(@user.linkedin_url || "(nothing entered) | ") %>
<%= label_tag(:linkedin_url, "| update linkedin_url") %>
<b> www.linkedin.com/ </b>
<%= f.text_field :linkedin_url%>
<br/>
<b>current facebook_urll:</b> <%=(@user.facebook_url || "(nothing entered) | ") %>
<%= label_tag(:facebook_url, "| update facebook_url") %>
<b> www.facebook.com/ </b>
<%= f.text_field :facebook_url%>
<br/>
<b>current twitter_url:</b> <%=(@user.twitter_url || "(nothing entered) | ") %>
<%= label_tag(:twitter_url, "| update twitter_url") %>
<b> www.twitter.com/ </b>
<%= f.text_field :twitter_url%>
<br/>

    <%= f.submit %>
<% end %>



>>>>>>> commit at end of day before getting user projects to appear
