    <h1> Collaborators: </h1>
		<% project.users.each do |user| %>

	
	<div class="person span2">
			<h5>	<a href = "<%= user.github_html_url %>" target="_blank">
				<%= user.has_full_name? ? user.github_login : user.full_name %></a> </h5>
			<div class="vignette">
			<% if user.profile_image_file_size %>
				<%= image_tag user.profile_image.url%>
			<% else %>
				<%= image_tag user.avatar_url, :class => "contributor_avatar"%>
			<% end %>
			</div>
				<ul class="contacts_nav">
					<% if user.linkedin_url %>
				    <li><a class="" target= "_blank"href="<%= user.linkedin_url%>"><i class="icon icon-linkedin"></i></a></li>
				  <% end %>
				  <% if user.twitter_url %>
				    <li><a class="" target="_blank" href="<%= user.twitter_url%>"><i class="icon icon-twitter"></i></a></li>
				   <% end %>
				   <% if user.facebook_url %>
				    <li><a class="" target="_blank" href="<%= user.facebook_url%>"><i class="icon icon-facebook"></i></a></li>
				   <% end %>
				   <% if user.github_html_url %>
				    <li><a class="" target="_blank" href="<%= user.github_html_url%>"><i class="icon icon-github"></i></a></li>
				   <% end %>
 	 		</ul>
	</div>
 	 	<% end %>

   