<script type="text/javascript">
$('document').ready(function(){
  var smart_counter = $(".screenshot").length;
  console.log(smart_counter);
  $('#add').click(function(){
      smart_counter++;
      console.log(smart_counter);
      var new_field = '<div class="screenshot"><input id="project_images_attributes_'+smart_counter+'_upload" name="project[images_attributes]['+smart_counter+'][upload]" type="file"><input id="project_images_attributes_'+smart_counter+'_image_type" name="project[images_attributes]['+smart_counter+'][image_type]" type="hidden" value="screenshot"></div>';
        $('.screenshot:last').append(new_field);
  });
    $('#subtract').click(function(){
      if (smart_counter > 1) {
      smart_counter--;
      console.log(smart_counter);
        $('.screenshot:last').remove();
         };
  });

$('.errors').hide();

function validateUrl() {
    var url = $("#project_url").val();
    console.log(url);

    if (/http:\/\/(www\.)?/i.test(url) || url.trim() === "")
     {
      console.log('This URL is valid');
      $('.errors.url_error').hide();
      return true;
      }
    else {
      console.log('This URL is not valid');
      $('.errors.url_error').show();
    }
  }

    $("#project_url").blur(function(){
      validateUrl();
    });

function validateVideoUrl() {
    var video_url = $("#video_url").val();
    console.log(video_url);

    if (/http:\/\/(www\.)?/i.test(video_url) || video_url.trim() === "")
     {
      console.log('This video URL is valid');
      $('.errors.video_url_error').hide();
      return true;
      }
    else {
      console.log('This video URL is not valid');
      $('.errors.video_url_error').show();
    }
  }

    $("#video_url").blur(function(){
      validateVideoUrl();
    });

    function validateCover() {
   var cover = $("#project_images_attributes_0_upload").val();
   console.log(cover);
   if (/jpg|jpeg|JPG|png|PNG|gif|GIF/.test(cover)) {
     console.log('This div has an image');
     $('.errors.cover_error').hide();
     return true;
    }
    else {
    console.log('This div has no jpeg');
    $('.errors.cover_error').show();
    }
  }

  //screenshot has to exist
function validateScreenshot() {
    var screenshot = $("#project_images_attributes_1_upload").val();
    console.log(screenshot);
    if (/jpg|jpeg|JPG|png|PNG|gif|GIF/.test(screenshot)) {
      console.log('This div has an image');
      $('.errors.screenshot_error').hide();
      return true;
    }
    else {
    console.log('This div has no image');
    $('.errors.screenshot_error').show();
    }
  }

//valid entire form before submit
$('.submit').click(function(event){
  //if all validations pass, submit the form, if not prevent default & show submit's error
  if(validateUrl() && validateVideoUrl() && validateCover() && validateScreenshot()){
   $(this).submit();
    }else{
      event.preventDefault();
      $('.errors.submits').show();
    }
});

});

</script>

<style type="text/css">
  .errors{
    color:#ff0000;
  }
</style>

<%= form_for(@project, :html => { :multipart => true }) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>
    <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
    </div>
    <div class="field">
    <label>Live Project URL (include http://)</label>
    <input type="text_field" name="project[live_url]" id="project_url">
    <p class="errors url_error">please enter a valid url</p>
    </div>

    <div class="field">
    <label>Demo Video URL (YouTube, Vimeo, etc)</label>
    <%= f.text_field :video_url, :id => "video_url" %>
    <p class="errors video_url_error">please enter a valid url</p>
    </div>

    <div class="field">
    <%= f.label :language, "Technologies (ex: C++)" %>
    <%= f.text_field :language %>
    </div>

    <div class="field">
    <p> Cover Image (300x200 is ideal):</p>
    <% @project.images.where(:image_type => "cover").each do |image| %>
    <%= image_tag image.upload.url(:thumb) %>
    <%end%>
    <div class="cover">
      <input id="project_images_attributes_0_upload" name="project[images_attributes][0][upload]" type="file">
      <input id="project_images_attributes_0_image_type" name="project[images_attributes][0][image_type]" type="hidden" value="cover">
      <input id="project_images_attributes_0_id" name="project[images_attributes][0][id]" type="hidden" value="<%= @project.images.where(:image_type => "cover").first.id %>">
    <p class="errors cover_error">put include a cover image</p>
    </div>
  </div>

  <div class="field">
    <div class="custom_error">
      <% if flash[:notice] %>
      <%= flash[:notice] %>
      <%end%>
    </div>
    <p> Screenshots (800x600 is ideal):</p>
    <% @project.images.where(:image_type => "screenshot").each_with_index do |image, index| %>
      <%= image_tag image.upload.url(:thumb) %>
      <%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' } %>
    <div class="screenshot">
      <input id="project_images_attributes_<%=index+1%>_upload" name="project[images_attributes][<%=index+1%>][upload]" type="file">
        <input id="project_images_attributes_<%=index+1%>_image_type" name="project[images_attributes][<%=index+1%>][image_type]" type="hidden" value="screenshot">
        <input id="project_images_attributes_<%=index+1%>_id" name="project[images_attributes][<%=index+1%>][id]" type="hidden" value="<%= @project.images.where(:image_type => "screenshot").first.id %>">
         <p class="errors screenshot_error">please include at least one screenshot</p>
      </div>
    <%end%>
  </div>

  <div class="add_new_images"></div>
  <input type="button" name="add" id="add" value="+" /></input>
  <input type="button" name="subtract" id="subtract" value="-" />&nbsp;Add or Remove Photo</input><br><br>
  
  <%= f.submit :class => "submit" %> <p class="errors submits">please fix these errors, then submit!</p> | <%= link_to 'Delete Project', @project, method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>
