<script type="text/javascript">
$('document').ready(function(){
  var smart_counter = $(".field img").length;
  $('#add').click(function(){
      smart_counter++;
      console.log(smart_counter);
      var new_field = '<input id="project_images_attributes_'+smart_counter+'_upload" name="project[images_attributes]['+smart_counter+'][upload]" type="file"><input id="project_images_attributes_'+smart_counter+'_image_type" name="project[images_attributes]['+smart_counter+'][image_type]" type="hidden" value="screenshot">';
        $('.add_new_images:last').append(new_field);
  });
})
</script>

<%= form_for(@project, :html => { :multipart => true }) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :live_url, "Live URL" %>
    <%= f.text_field :live_url %>
  </div>
    <div class="field">
    <%= f.label :language, "Technologies (ex: C++)" %>
    <%= f.text_field :language %>
  </div>

  <div class="field">
    <% @project.images.each do |image| %>
    <%= image_tag image.upload.url(:medium) %>
    <%= link_to 'Delete', image, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%end%>
  </div>

  <div class="field">
    <p>Upload screenshots of your app:</p>
    <%= f.fields_for :images do |field| %>
      <%= field.file_field :upload %>
      <%= field.hidden_field :image_type, :value => "screenshot" %>
    <% end %>
  </div>
  <div class="add_new_images"></div>
  <input type="button" name="add" id="add" value="+" /> Upload more pics</input><br>

<br>
    <%= f.submit %>

<% end %>
