<%= form_for(@project, :html => { :multipart => true }) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Repo Name</label><br />
    <input type="text_field" name="repo_name">
  </div>
 

  <div class="field">
    <p>Upload cover image for your app:</p>
    <%= f.fields_for :images do |field| %>
      <%= field.file_field :upload %>
      <%= field.hidden_field :image_type, :value => "cover" %>
    <% end %>
  </div>

  <div class="field">
    <p>Upload screenshots of your app:</p>
    <%= f.fields_for :images do |field| %>
      <%= field.file_field :upload %>
      <%= field.hidden_field :image_type, :value => "screenshot" %>
    <% end %>
    <br>
    <%= f.fields_for :images do |field| %>
      <%= field.file_field :upload %>
      <%= field.hidden_field :image_type, :value => "screenshot" %>
    <% end %>
  </div>


    <%= f.submit %>

<% end %>
