<script type="text/javascript">

$('document').ready(function(){
  var counter = 1;
  $('#add').click(function(){
      counter++;
      var new_field = '<div class="screenshot"><input id="project_images_attributes_'+counter+'_upload" name="project[images_attributes]['+counter+'][upload]" type="file"><input id="project_images_attributes_'+counter+'_image_type" name="project[images_attributes]['+counter+'][image_type]" type="hidden" value="screenshot"><input id="project_images_attributes_'+counter+'_image_type" name="project[images_attributes]['+counter+'][image_type]" type="hidden" value="screenshot"></div>';
          $('.screenshot:last').append(new_field);
          console.log(counter);
  });
  $('#subtract').click(function(){
      if (counter > 1) {
        $('.screenshot:last').remove();
        counter --};
        console.log(counter);
  });  
});
</script>

<%= form_for(@project, :html => { :multipart => true }) do |f| %>

  <div class="field">
    <label>Github Repository (username/repo-name)</label><br />
    <input type="text_field" name="project[repo_name]">
  </div>

  <div class="field">
    <label>Live Project URL</label>
    <input type="text_field" name="project[live_url]">
  </div>

  <% if flash[:error] %>
    <p class='error' style="color:red"><%= flash[:error] %></p>
  <% end %>

  <p class='error' style="color:red"><%= @project.errors.messages[:"images.upload_file_size"] %></p>

    <div class="field">
    <label>Semester</label>
    <%= f.select :semester_id, options_for_select([["Flatiron 000", "000"], ["Flatiron 001", "001"]], @project.semester_id) %>

  <div class="field">
    <label>Upload cover image for your app:</label>
    <%= f.fields_for :images do |field| %>
      <%= field.file_field :upload %>
      <%= field.hidden_field :image_type, :value => "cover" %>
      <%= field.hidden_field :position, :value => "0" %>
    <% end %>
  </div> 

  <div class="field">

    <label>Upload screenshots of your app:</label>

    <div class="field">
    <%= f.fields_for :images do |field| %>
      <%= field.file_field :upload %>
      <%= field.hidden_field :image_type, :value => "screenshot" %>
      <%= field.hidden_field :position, :value => "0" %>
    <% end %>
  </div>
    <div class="screenshot">
    </div>
  </div>
  <input type="button" name="add" id="add" value="+" />
  <input type="button" name="remove" id="subtract" value="-" /><br><br>

<br>
    <%= f.submit %>

<% end %>
