<script type="text/javascript">

$('document').ready(function(){
  var counter = 1;
  $('#add').click(function(){
      counter++;
      var new_field = '<div class="screenshot"><input id="project_images_attributes_'+counter+'_upload" name="project[images_attributes]['+counter+'][upload]" type="file"><input id="project_images_attributes_'+counter+'_image_type" name="project[images_attributes]['+counter+'][image_type]" type="hidden" value="screenshot"><input id="project_images_attributes_'+counter+'_image_type" name="project[images_attributes]['+counter+'][image_type]" type="hidden" value="screenshot"></div>';
          $('.screenshot:last').append(new_field);
          console.log(counter);
  });
  $('#subtract').click(function(){
      if (counter > 1) {
        $('.screenshot:last').remove();
        counter --};
        console.log(counter);
  });  

  //form validations go here

  //hide errors
  $('.errors').hide();
  //github repo name must be lowercase & include a /. can not be blank. check on form input blur

function validateGithub() {
  var input = $("#github_repo").val(); 
  var response;
  $.get('https://api.github.com/repos/'+input+'?access_token='+'<%=current_user.token%>', function() {
    response = "success";
    $('.errors.github_error').hide();
    return true;
  })
    .fail(function() {
      console.log("after fail function");
      response = "fail";
    $('.errors.github_error').show();
      return false;
  });
    console.log("before if logic");
    if(response == "fail"){
    $('.errors.github_error').show();
      return false;
    } else {
      return true;
    }
}

$("#github_repo").blur(function(){
  validateGithub();
});


//url should be a full url (includes regex for url)
  
  function validateUrl() {
    var url = $("#project_url").val();
    console.log(url);


  //crazy regex for URL validation
    if (/http:\/\/(www\.)?/i.test(url) || url.trim() === "")
     {
      console.log('This URL is valid');
      $('.errors.url_error').hide();
      return true;
      }
    else {
      console.log(typeof url);
      console.log('This URL is not valid');
      $('.errors.url_error').show();
    }
  }

    $("#project_url").blur(function(){
      validateUrl();
    });

  //cover image has to exist
function validateCover() {
   var cover = $("#project_images_attributes_0_upload").val();
   console.log(cover);
   if (/jpg|jpeg|JPG|png|PNG|gif|GIF/.test(cover)) {
     console.log('This div has an image');
     $('.errors.cover_error').hide();
     return true;
    }
    else {
    console.log('This div has no jpeg');
    $('.errors.cover_error').show();
    }
  }

  //screenshot has to exist
function validateScreenshot() {
    var screenshot = $("#project_images_attributes_1_upload").val();
    console.log(screenshot);
    if (/jpg|jpeg|JPG|png|PNG|gif|GIF/.test(screenshot)) {
      console.log('This div has an image');
      $('.errors.screenshot_error').hide();
      return true;
    }
    else {
    console.log('This div has no image');
    $('.errors.screenshot_error').show();
    }
  }

//valid entire form before submit
$('.submit').click(function(event){
  //if all validations pass, submit the form, if not prevent default & show submit's error
  if(validateGithub() && validateUrl() && validateCover() && validateScreenshot()){
   $(this).submit();
    }else{
      event.preventDefault();
      $('.errors.submits').show();
    }
});
// close document ready function
});

</script>

<style type="text/css">
  .errors{
    color:#ff0000;
  }
</style>

<%= form_for(@project, :html => { :multipart => true }) do |f| %>

  <% if flash[:error] %>
    <p class='error' style="color:red"><%= flash[:error] %></p>
  <% end %>

  <p>Fields with * are required.</p>

  <div class="field">
    <label>Github Repository* (username/repo-name)</label><br />
    <input type="text_field" name="project[repo_name]" id="github_repo">
    <p class="errors github_error">valid repo, plskthx</p>
  </div>

  <div class="field">
    <label>Live Project URL (including http://)</label>
    <input type="text_field" name="project[live_url]" id="project_url">
    <p class="errors url_error">valid url, plskthx</p>
  </div>

  <p class='error' style="color:red"><%= @project.errors.messages[:"images.upload_file_size"] %></p>

    <div class="field">
    <label>Semester*</label>
    <%= f.select :semester_id, options_for_select([["Flatiron 000", "000"], ["Flatiron 001", "001"]], @project.semester_id) %>
  </div>

  <div class="field">
    <label>Upload a cover image for your app* (300x200 is ideal):</label>
    <%= f.fields_for :images do |field| %>
      <%= field.file_field :upload %>
      <%= field.hidden_field :image_type, :value => "cover" %>
      <%= field.hidden_field :position, :value => "0" %>
    <% end %>
        <p class="errors cover_error">put in a picture, plskthx</p>
  </div> 

  <div class="field">
    <label>Upload screenshots of your app* (800x600 is ideal):</label>
    <div class="field">
    <%= f.fields_for :images do |field| %>
      <%= field.file_field :upload %>
      <%= field.hidden_field :image_type, :value => "screenshot" %>
      <%= field.hidden_field :position, :value => "0" %>
    <% end %>
   <p class="errors screenshot_error">put in a screenshot, plskthx</p>
  </div>
    <div class="screenshot">
    </div>
  </div>
  <input type="button" name="add" id="add" value="+" />
  <input type="button" name="remove" id="subtract" value="-" /><br><br>

<br>
    <%= f.submit :class => "submit" %>
    <p class="errors submits">fix that shit, then submit!</p>

<% end %>
