<div class="container">

<div class="row-fluid ">
<h1></h1>
</div>

<span style= color:"red"><%= notice %></span>

<div class="row-fluid">
      <% @projects.each_with_index do |project, i| %>
        <% if i%3 == 0 %>
          </div>
          <div class="row-fluid">
            <div class="project span4"> 
             <div class="cover-image">
              <% project.images.where(image_type: "cover").each do |cover| %>
                  <%= image_tag cover.upload.url(:cover)%>
              <%end%>
             </div>
            <h4><%= link_to project.name, project %></h4>
            <%= project.description %>
        </div>
        <% else %>
        <div class="project span4"> 
            <div class="cover-image"> 
              <% project.images.where(image_type: "cover").each do |cover| %>
                  <%= image_tag cover.upload.url(:cover)%>
              <%end%>
             </div>
            <h4><%= link_to project.name, project %></h4>
            <%= project.description %>
            </div>
            <%end%>
            <%end%>
          </div>
        </div>
</div>
</div>
