<script type="text/javascript">
$('document').ready(function(){

  $('#sort-by-name').click(function(){
    $('.project').tsort({data:'name'});
      });

  $('#sort-by-stars').click(function(){
    $('.project').tsort({data:'stars', order:'desc'});
  });

  $('#sort-by-recently-active').click(function(){
    $('.project').tsort({data:'lastupdate', order:'desc'});
  });

  $('#my_filter').change(function() {
    var my_val = $('#my_filter').val(); 
    $.getScript("/projects/filter?semesterID=" + my_val);
    });
});

</script>

<div class="subnav">
  <h4>Projects by the students of the Flatiron School</h4>
</div>
<div class="container main">
  <div class="row-fluid">
    <div class="span4">
      <select id='my_filter' class='btn btn-warning' style="width:auto;">
        <option value="all"> All </option>
        <% Project.select("semester_id").uniq.each do |this| %>
        <option value="<%= this.semester_id %>"><%= this.semester_id %></option>
        <% end %>
      </select>
    </div>
    <div class="span8" id="sort">
      <ul>
          <li>Sort by:</li>
          <li class="btn btn-link" id="sort-by-name">Name</li>
          <li class="btn btn-link" id="sort-by-stars">Github Stars</li>
          <li class="btn btn-link" id="sort-by-recently-active">Recently Active</li>
      </ul>
    </div>
  </div>
    <div id="filter_point">
      <span style= color:"red"><%= notice %></span>
      <div class="row-fluid">
      <% @projects.each do |project| %>
      <div class="project span4" data-name="<%= project.name %>" data-stars="<%= project.watchers %>" data-lastupdate="<%= project.last_repo_update %>"> 
       <div class="cover-image">
        <% project.images.where(image_type: "cover").each do |cover| %>
            <%= link_to image_tag(cover.upload.url(:cover)), project %>
        <%end%>
       </div>
      <h4><%= link_to project.name, project %></h4>
      <%= short_description(project.description) %>
      </div>
    <%end%>
    </div>
  </div>
 </div>


