<div id="built-main-container">

<p id="notice"><%= notice %></p>

<h1><%= @project.name%></h1>


<%= render :partial =>'carousel_slideshow', :locals => {:project => @project} %>

<div class="row fluid">
  <div class="span6">
<%= render :partial => 'github_info', :locals => {:project => @project} %>
 </div>



  <div class="span6">
<%= render :partial => 'collaborators_info', :locals => {:project => @project} %>
 </div>
</div>


<p>
  <b>Project Cover Image:</b><br/>
  <% @project.images.where(:image_type => "cover").each do |image| %>
    <%= image_tag image.upload.url(:medium) %>
  <%end%>
</p>

<p>
  <b>Project Screenshot Images:</b><br/>
  <% @project.images.where(:image_type => "screenshot").each do |image| %>
    <%= image_tag image.upload.url(:medium) %>
  <%end%>
</p>

<% if current_user %>
<% if current_user.is_authorized?(params) %>
<%= link_to 'Edit', edit_project_path(@project) %> | <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<% end %>
<%= link_to 'Back', projects_path %>

</div>
