<div id="built-main-container">

<p id="notice"><%= flash[:notice] %></p>
 
  <h1 class="repo_name"><%= @project.name%></h1>

    <%= render :partial =>'carousel_slideshow', :locals => {:project => @project} %>

<div class="row fluid">
  <div class="span12">
<%= render :partial => 'github_info', :locals => {:project => @project} %>
 </div>

</div>
<div class="row fluid">
  <div class="span6 collaborator_box">
<%= render :partial => 'collaborators_info', :locals => {:project => @project} %>
 </div>
</div>

<div id="container" class="span4" style="width: 500px; height: 300px; margin: 0 auto"></div>

<% if current_user %>
<% if current_user.is_authorized?(params) %>
<%= link_to 'Edit', edit_project_path(@project) %> | <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<% end %>
<%= link_to 'Back', projects_path %>

</div>