<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @project.subtitle %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Url:</b>
  <%= @project.url %>
</p>

<p>
  <b>Github link:</b>
  <%= @project.github_link %>
</p>

<p>
  <b>Images:</b><br/>
  <% @project.images.each do |image| %>
    <%= image_tag image.upload.url(:medium) %>
  <%end%>
</p>

<%#= image_tag @project.images.each do |i| %>
  <%#= i.url %>
  <%# end %>

<%#= image_tag @project.thumbnail.url %>
<%#= image_tag @project.thumbnail.url(:medium) %>
<%#= image_tag @project.thumbnail.url(:thumb) %>

<%= link_to 'Edit', edit_project_path(@project) %> | <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', projects_path %>
