<div id="built-main-container">

<p id="notice"><%= notice %></p>

<h1><%= @project.name%></h1>

<p>
  <b>Repo Owner/Name:</b>
  <%= @project.repo_name %>
</p>

<p>
  <b>Github Repo URL:</b>
  <a href = "<%= @project.repo_url %>" target="_blank"><%= @project.repo_url %></a>
</p>

<p>
  <b>Live URL:</b>
  <a href = "<%= @project.live_url %>" target="_blank"><%= @project.live_url %></a>
</p>