<p id="notice"><%= notice %></p>

<p>
  <b>Repo Name:</b>
  <%= @project.repo_name %>
</p>

<p>
  <b>Repo URL</b>
  <%= @project.repo_url %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Git Clone URL (SSH):</b>
  <%= @project.ssh_url %>
</p>

<p>
  <b>Contribs' Name:</b>
  <%= @project.users.each do |user| %>
    <%= user.full_name %>
  <%end%>
</p>

<p>
  <b>Contribs' GitHub Links:</b>
  <%= @project.users.each do |user| %>
  <a href = "<%= user.github_html_url %>">
    <%= user.github_login %></a>
  <%end%>
</p>

<p>
  <b>Images:</b><br/>
  <% @project.images.each do |image| %>
    <%= image_tag image.upload.url(:medium) %>
  <%end%>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> | <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', projects_path %>
