<p id="notice"><%= notice %></p>

<p>
  <b>Repo Name:</b>
  <%= @project.repo_name %>
</p>

<p>
  <b>Repo URL</b>
  <%= @project.repo_url %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Git Clone URL (SSH):</b>
  <%= @project.ssh_url %>
</p>

<p>
  <b>GitHub Forks Count:</b>
  <%= @project.forks %>
</p>

<p>
  <b>GitHub Star Count:</b>
  <%= @project.watchers %>
</p>

<p>
  <b>Language:</b>
  <%= @project.language %>
</p>

<p>
  <b>Contribs' Names:</b>
  <% @project.users.each do |user| %>
    <%= user.full_name %>, 
  <%end%>
</p>

<p>
  <b>Contribs' GitHub Links:</b>
  <ul><% @project.users.each do |user| %>
  <li><a href = "<%= user.github_html_url %>">
    <%= user.github_login %></a></li>
  <%end%></ul>
</p>

<p>
  <b>Images:</b><br/>
  <% @project.images.each do |image| %>
    <%= image_tag image.upload.url(:medium) %>
  <%end%>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> | <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', projects_path %>
