<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div class="container"> </div>

<div class="subnav">
  <h1 class="repo_name"><%= @project.name%></h1>
</div>
<div class="jumbotron">
    <%= render :partial =>'carousel_slideshow', :locals => {:project => @project} %>

</div>
<div class="container main">
  <div class="row-fluid">
<%= render :partial => 'github_info', :locals => {:project => @project} %>
  </div>
  <hr />
  <div class="row-fluid">
<%= render :partial => 'collaborators_info', :locals => {:project => @project} %>
</div>


<%= javascript_tag do %>
	<%= render :template => '/projects/graph.js.erb' %>
<% end %>


<% if current_user %>
<% if current_user.is_authorized?(params) %>
<%= link_to 'Edit', edit_project_path(@project) %> | <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<% end %>
<%= link_to 'Back', projects_path %>

</div>