<ul class="login-status-text">
  <div id="filter_point">
  <span style= color:"red"><%= notice %></span>
  </div>
  <li class="submitprojblue"><%= link_to "Submit a Project", new_project_path %></li>
  <% if current_user %>
    <li> Logged in as <%= current_user.github_login %></li>
    <li><%= link_to "Profile Page", current_user %></li>
    <li><%= link_to "Log Out", logout_path %></li>
  <% else %>
    <li> <%= link_to "Sign up / Login with Github", login_path %></li>
  <% end %>
</ul>
