  <!DOCTYPE html>
<html>
<head>
  <title>Built@Flatiron: Projects Created by Students at the Flatiron School</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<<<<<<< HEAD
<div class='navbar navbar-inverse navbar-fixed-top'>
  <div class='navbar-inner'>
    <div class="container">
    <ul class="login-status-text">
          <li class="submitproj"><%= link_to 'Submit A Project', new_project_path %></li>
    	<% if current_user %>
    	  <li> Logged in as <%= current_user.github_login %></li>
        <li><%= link_to "Profile Page", current_user %></li>
    	   <li><%= link_to "Log Out", logout_path %></li>
    	<% else %>
    	  <li> <%= link_to "Sign up / Login with Github", login_path %></li>
    	<% end %>
    </ul>
    <div id="built-logo"><a href = "/"><img src="/assets/logo.png" /></a>
    </div>
  </div>
</div>
  </div>
=======
<div class='navbar navbar-fixed-top'>
  <div class='navbar-inner'>
    <ul class="login-status-text">
    	<% if current_user %>
    	   Logged in as <%= current_user.github_login %>
    	   <%= link_to "Log Out", logout_path %>
    	<% else %>
    	   <%= link_to "Sign up / Login with Github", login_path %>
    	<% end %>
    </ul>
    <div id="built-logo">
    </div>
  </div>


>>>>>>> add logo placeholder, move login status, modify project index
  <div>
    <%= flash[:alert] %> 
  </div>
</div>

<<<<<<< HEAD
<div class="container">

=======

<div class="container-fluid">
  <div id="row-fluid">
>>>>>>> add logo placeholder, move login status, modify project index
			<%= yield %>
</div>
</div>
</body>
</html>
