<!DOCTYPE html>
<html>
<head>
  <title>Built</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='navbar navbar-inverse navbar-fixed-top'>
  <div class='navbar-inner'>
    <div class="container">
    <ul class="login-status-text">
    	<% if current_user %>
    	   Logged in as <%= current_user.github_login %>
    	   <%= link_to "Log Out", logout_path %>
    	<% else %>
    	   <%= link_to "Sign up / Login with Github", login_path %>
    	<% end %>
    </ul>
    <div id="built-logo">
    </div>
  </div>
</div>

  <div>
    <%= flash[:alert] %> 
  </div>
</div>


<div class="container">
			<%= yield %>
</div>
</div>
</body>
</html>
