<h1> Add a badge to your website to let visitors know where you learned to shred </h2>

<h2> Configure Your Badge </h2>

<h3> Color </h3>
<%= radio_button_tag(:color, "red") %>
<%= label_tag(:color, "red is awesome") %>
<%= radio_button_tag(:color, "blue") %>
<%= label_tag(:color, "blue is true") %>

<h3> Size </h3>
<%= radio_button_tag(:size, "small") %>
<%= label_tag(:size, "keep it small") %>
<%= radio_button_tag(:size, "large") %>
<%= label_tag(:size, "large and in charge") %>

<h3> You're custom badge </h3>
<p> generated js code here </p>



	<a href="https://twitter.com/Modern_Legend" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @Modern_Legend</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>